;
; © 2026-present https://github.com/cengiz-pz
;
[plugin]

name="NativeCamera"
description="Allows access to physical cameras on mobile device"
author="Cengiz"
version="1.1.1"
script="NativeCameraPlugin.gd"
